@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-family: "Bellota", system-ui;
  font-family: "Judson", serif;
}
.container {
  /* border: 3px solid red; */
  width: 80%;
  margin: 50px auto;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 50px black;
}

.iconbar {
  /*  border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  flex-wrap: wrap;
  margin-left: 3rem;
}
.input-part {
  /*  border: 2px solid green; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.input-part select {
  /* border: 2px solid red; */
  width: 188px;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 5px;
  font-family: "Bellota", system-ui;
}

.search-input{
   /*  border: 2px solid red;  */ 
    width: 300px;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    
}
.search-input input{
    background-color: initial;/* back.. a initial yazarak onun rengi taşıyıcısından almasını sağlarız. */
    border: none;
    font-size: 1rem;
    padding: .5rem;
}
.support{
   /*  border: 2px solid red; */
    text-align: right;
    margin-left: 1rem;

}
.support .support-number{
font-size: 2rem;
}


.support .support-text{
    font-size: 0.8rem;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 1px 2px 5px black;
  margin: 1rem;
}

.icons {
   /* border: 2px solid black; */
   margin-right: 2rem;

}
.icons img{
    padding: 10px;
}

.navbar{
/* border: 2px solid red; */
display: flex;
align-items: center;
padding: 10px 50px;
margin-left: 3rem;
border-top: 1px solid #d9d9d9;

}

.button{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 40px;
    font-size: 1.3rem;
    background-color: #d9d9d9;
    border-radius: 5px;
    font-style: italic;
    gap: 1rem;
}

.nav{
    /* border: 2px solid green; */

}
li{
display: inline-block;
margin-left: 1rem;
}